<script>
  window.fbMessengerPlugins = window.fbMessengerPlugins || {
      init: function() {
          FB.init({
              appId: "1678638095724206",
              xfbml: true,
              version: "v2.6"
          });

          FB.Event.subscribe('messenger_checkbox', function(e) {
            console.log("messenger_checkbox event");
            console.log(e);
            
            if (e.event == 'rendered') {
              console.log("Plugin was rendered");
            } else if (e.event == 'checkbox') {
              var checkboxState = e.state;
              console.log("Checkbox state: " + checkboxState);
              window.confirmOptIn()
            } else if (e.event == 'not_you') {
              console.log("User clicked 'not you'");
            } else if (e.event == 'hidden') {
              console.log("Plugin was hidden");
            }
            
          });
      },
      callable: []
  };
  window.fbMessengerPlugins.callable.push(function() {
      var ruuid, fbPluginElements = document.querySelectorAll(".fb-messenger-checkbox[page_id='625024130932279']");
      if (fbPluginElements) {
          for (i = 0; i < fbPluginElements.length; i++) {
              ruuid = 'cf_' + (new Array(16).join().replace(/(.|$)/g, function() {
                  return ((Math.random() * 36) | 0).toString(36)[Math.random() < .5 ? "toString" : "toUpperCase"]();
              }));
              fbPluginElements[i].setAttribute('user_ref', ruuid);
              fbPluginElements[i].setAttribute('origin', window.location.href);
              window.confirmOptIn = function() {
                  FB.AppEvents.logEvent('MessengerCheckboxUserConfirmation', null, {
                      app_id: "1678638095724206",
                      page_id: "625024130932279",
                      ref: "",
                      user_ref: ruuid
                  });
              };
          }
      }
  });
  window.fbAsyncInit = window.fbAsyncInit || function() {
      window.fbMessengerPlugins.callable.forEach(function(item) {
          item();
      });
      window.fbMessengerPlugins.init();
  };
  setTimeout(function() {
      (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {
              return;
          }
          js = d.createElement(s);
          js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  }, 0);
</script> 
<div class="fb-messenger-checkbox" origin="" page_id="625024130932279" messenger_app_id="1678638095724206" user_ref="" prechecked="true" allow_login="true" size="xlarge"></div>
<input type="button" onclick="confirmOptIn()" value="Confirm Opt-in"/>