#content
  #inner-content.wrap.cf
    %main#main.m-all.t-2of3.d-5of7.cf
      .cardtype.cf
        - @articles.each.with_index(1) do |article, i|
          %article.cardtype__article
            .match
              %a.cardtype__link{:href => show_path(url_slug: article.url_slug, match_id: article.first_match_id)}
                %p.cardtype__img
                  %img{:alt => article.title, :src => article.thumbnail}/
                .cardtype__article-info
                  %time.updated.entry-time.dfont{:datetime => "2017-10-24"}= article.created_at.to_date
                  %h2= article.title
        
    #sidebar1.sidebar.m-all.t-1of3.d-2of7.last-col.cf{:role => "complementary"}
      .insidesp
        #notfix
          
          #recent-posts-2.widget.widget_recent_entries
            %h4.widgettitle.dfont High Light
            %ul.my-widget
              - @high_lights.each do |match|
                - article = match.matchable.is_a?(Article) ? match.matchable : match.matchable.article
                %li
                  %a{:href => show_path(url_slug: article.url_slug , match_id: match.id)}
                    %figure.my-widget__img
                      %img.attachment-thumb-160.size-thumb-160.wp-post-image{:alt => match.title, :height => "160", :sizes => "(max-width: 160px) 100vw, 160px", :src => article.thumbnail, :srcset => article.thumbnail, :width => "160"}/
                    .my-widget__text= match.title
= render "sdk"
:css
  .widget ul li {
    margin: 0;
    font-weight: bold;

  }
  .widget .my-widget li a {
    display: table;
    width: 100%;
  }
  .my-widget li a .my-widget__img {
    display: table-cell;
    width: 88px;
    height: 88px;
    padding-right: 8px;
    vertical-align: middle;
    padding: 0;
  }
  .my-widget li a .my-widget__text {
    display: table-cell;
    font-size: .9em;
    vertical-align: middle;
    line-height: 1.5;
    padding: 0px 0px 0px 10px;
  }