!!!
%html{:lang => "vi"}
  %head
    %title Aoehd.vn - Kho video đế chế HD
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = render "layouts/ana"
  %body.home.blog.custom-background
    #container
      %header.header
        #inner-header.wrap.cf
          %h1#logo.h1.dfont
            %a{:href => "/"} AOEHD.VN
          %nav.desktop-nav.clearfix
            %ul.menu{:id => "menu-%e3%83%98%e3%83%83%e3%83%80%e3%83%bc"}
              %li#menu-item-79.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-79
                %a{:href => "/"}
                  %i.fa.fa-home{"aria-hidden" => "true"}
                  HOME
      = yield
      %footer.footer
        #footer-menu
          %div
            %a.footer-menu__btn.dfont{:href => "/"}
              %i.fa.fa-home.fa-lg
              HOME